<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-save-mediafile"
        version="1.0.6">

    <name>SaveMediaFile</name>
    <description>This plugin allows you to save a media file to the iOS Camera roll / Photo Library or Android Gallery.</description>
    <license>MIT</license>
    <author>Mooee Company Ltd.</author>
    <keywords>image,video,photo library,camera roll,gallery,image gallery</keywords>
    <repo>https://github.com/arthur-tam/cordova-plugin-save-mediafile.git</repo>
    <issue>https://github.com/arthur-tam/cordova-plugin-save-mediafile/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <js-module src="www/SaveMediaFile.js" name="SaveMediaFile">
        <clobbers target="cordova.plugins.mediafilesaver"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SaveMediaFile">
                <param name="android-package" value="com.mooee.cordova.savemediafile.SaveMediaFile"/>
            </feature>
        </config-file>

        <source-file src="src/android/SaveMediaFile.java" target-dir="src/com/mooee/cordova/savemediafile"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SaveMediaFile">
                <param name="ios-package" value="SaveMediaFile"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SaveMediaFile.h"/>
        <source-file src="src/ios/SaveMediaFile.m" compiler-flags="-fno-objc-arc"/>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

    </platform>

</plugin>
